*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
   background-color: black;
   color: #f3f3f3;
   display: flex;
   justify-content: space-around;
}

.cabeçalho-imagen{
    width: 5%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0% 10px;
    font-size: 24px;
}

.carro-img{
    width: 25%;
} 

.Carros{
    background-image: linear-gradient(black,#3D52AD);
}
.Carros{
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carros-div-conteudos{ 
    width: 35%;
}
.carros-titulos{
    padding: 24px 0;
}

.foto-lancer {

    width: 250px
}

.foto-carro-div {

    text-align: center;
}

.foto-carro{

text-align: center;
padding: 50px;
}

.carros-todos{

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    padding: 12px 0;
    text-align: center;
}
